header{
    background: var(--black-color);
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-bottom: 1px solid var(--white-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav{
    width: 1200px;
    max-width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: var(--white-color);
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav #headerPages{
    width: 380px;
    justify-content: space-between;
}

header nav img{
    width: 190px;
}

header nav #donContact{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav button{
    width: 120px;
    border: 1px solid var(--main-color);
    height: 35px;
    font-size: 14px;
    border-radius: 50px;
    background: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all ease 0.2s;
}

header nav button:active{
    transform: scale(0.98);
}

header nav ul li.active a{
    color: var(--main-color);
}

header nav button#headerDonate{
    background: var(--main-color);
    color: var(--black-color);
}

header nav button#headerContactBtn:hover{
    background: var(--main-color);
    color: var(--black-color);
}

#contactMenu{
    display: none;
}

#menuIcon{
    color: #fff;
    font-size: 25px;
    display: none;
}

@media (max-width: 900px) {
    header nav #donContact{
        display: none;
    }
    header nav #headerPages{
        width: 500px;
    }
    #contactMenu{
        display: block;
    }
}

@media (max-width: 800px) {
    header nav #headerPages{
        width: 420px;
    }
}

@media (max-width: 700px) {
    header nav #headerPages{
        position: fixed;
        width: 100%;
        background: var(--black-color);
        height: calc(100% - 70px);
        left: -100%;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        padding-top: 30px;    
        transition: all ease 0.2s;
        z-index: 100;
    }

    header nav #headerPages.active{
        left: 0;
    }

    header nav #headerPages li{
        margin-bottom: 30px;
    }
    
    #menuIcon{
        color: #fff;
        font-size: 25px;
        display: block;
    }

    header nav button, header nav ul li a{
        cursor: default;
    }
    
}